In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

from sklearn.model_selection import train_test_split

In [59]:
data_path = "/Users/betashort/Google Drive/nyse/prices.csv"

In [60]:
data = pd.read_csv(data_path)

In [61]:
data[data.symbol=='AAPL'].head()

,date,symbol,open,close,low,high,volume
254,2010-01-04,AAPL,213.429998,214.009998,212.380001,214.499996,123432400.0
721,2010-01-05,AAPL,214.599998,214.379993,213.249994,215.589994,150476200.0
1189,2010-01-06,AAPL,214.379993,210.969995,210.750004,215.230000,138040000.0
1657,2010-01-07,AAPL,211.750000,210.580000,209.050005,212.000006,119282800.0
2125,2010-01-08,AAPL,210.299994,211.980005,209.060005,212.000006,111902700.0

In [62]:
AAPL = data[data.symbol=='AAPL']

In [63]:
AAPL.head()

,date,symbol,open,close,low,high,volume
254,2010-01-04,AAPL,213.429998,214.009998,212.380001,214.499996,123432400.0
721,2010-01-05,AAPL,214.599998,214.379993,213.249994,215.589994,150476200.0
1189,2010-01-06,AAPL,214.379993,210.969995,210.750004,215.230000,138040000.0
1657,2010-01-07,AAPL,211.750000,210.580000,209.050005,212.000006,119282800.0
2125,2010-01-08,AAPL,210.299994,211.980005,209.060005,212.000006,111902700.0

In [64]:
AAPL.tail()

,date,symbol,open,close,low,high,volume
848767,2016-12-23,AAPL,115.589996,116.519997,115.589996,116.519997,14249500.0
849267,2016-12-27,AAPL,116.519997,117.260002,116.489998,117.800003,18296900.0
849767,2016-12-28,AAPL,117.519997,116.760002,116.199997,118.019997,20905900.0
850267,2016-12-29,AAPL,116.449997,116.730003,116.400002,117.110001,15039500.0
850767,2016-12-30,AAPL,116.650002,115.820000,115.430000,117.199997,30586300.0

In [65]:
AAPL.describe()

              open        close          low         high        volume
count  1762.000000  1762.000000  1762.000000  1762.000000  1.762000e+03
mean    313.076311   312.927066   309.828241   315.911288  9.422578e+07
std     185.299468   185.147104   183.383917   186.898177  6.020519e+07
min      90.000000    90.279999    89.470001    90.699997  1.147590e+07
25%     115.222498   115.190002   114.002500   116.362499  4.917478e+07
50%     318.230007   318.240007   316.545002   320.600008  8.050385e+07
75%     470.880016   472.592512   467.972513   478.110008  1.210816e+08
max     702.409988   702.100021   699.569977   705.070023  4.702495e+08

In [66]:
AAPL.date = pd.to_datetime(AAPL.date, 
                           format='%Y-%m-%d')

/Users/betashort/opt/anaconda3/envs/default/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

## 日付の差

In [70]:
pd.Timestamp('05-01-2017') - pd.Timestamp('01-01-2017')

Timedelta('120 days 00:00:00')

In [77]:
a = AAPL['date'].iloc[0]
a.weekday_name

## 欠損値

In [67]:
#内挿
dataframe.interpolate()
#前方補完
dataframe.ffill()
#後方補完
dataframe.bfill()

,date,symbol,open,close,low,high,volume
254,2010-01-04,AAPL,213.429998,214.009998,212.380001,214.499996,123432400.0
721,2010-01-05,AAPL,214.599998,214.379993,213.249994,215.589994,150476200.0
1189,2010-01-06,AAPL,214.379993,210.969995,210.750004,215.230000,138040000.0
1657,2010-01-07,AAPL,211.750000,210.580000,209.050005,212.000006,119282800.0
2125,2010-01-08,AAPL,210.299994,211.980005,209.060005,212.000006,111902700.0
...,...,...,...,...,...,...,...
848767,2016-12-23,AAPL,115.589996,116.519997,115.589996,116.519997,14249500.0
849267,2016-12-27,AAPL,116.519997,117.260002,116.489998,117.800003,18296900.0
849767,2016-12-28,AAPL,117.519997,116.760002,116.199997,118.019997,20905900.0
850267,2016-12-29,AAPL,116.449997,116.730003,116.400002,117.110001,15039500.0
850767,2016-12-30,AAPL,116.650002,115.820000,115.430000,117.199997,30586300.0

train 2010~2014  
val 2015  
test 2016

In [42]:
train = AAPL[AAPL.date < dt.datetime(2015,1,1)].open
val = AAPL[(AAPL.date > dt.datetime(2015,1,1)) & (AAPL.date < dt.datetime(2016,1,1))].open
test = AAPL[AAPL.date > dt.datetime(2016,1,1)].open

254       213.429998
721       214.599998
1189      214.379993
1657      211.750000
2125      210.299994
             ...
597986    112.580002
598476    112.099998
598966    113.790001
599456    113.639999
599946    112.820000
Name: open, Length: 1258, dtype: float64

In [49]:
from statsmodels.tsa import ar_model

In [50]:
model = ar_model.AR(train)

/Users/betashort/opt/anaconda3/envs/default/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:215: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

In [51]:
for i in range(20):
    results = model.fit(maxlag=i+1)
    print('lag= ', i+1, 'aic: ', results.aic)

lag=  1 aic:  5.735585345283071
lag=  2 aic:  5.7374846782440985
lag=  3 aic:  5.739876701817995
lag=  4 aic:  5.741836581594583
lag=  5 aic:  5.74375385470988
lag=  6 aic:  5.745898089049423
lag=  7 aic:  5.74815218256545
lag=  8 aic:  5.750249987285907
lag=  9 aic:  5.752230965295949
lag=  10 aic:  5.754575705422368
lag=  11 aic:  5.756905311984966
lag=  12 aic:  5.759209155448665
lag=  13 aic:  5.761585464285864
lag=  14 aic:  5.763902949640408
lag=  15 aic:  5.766261399625149
lag=  16 aic:  5.768647008390873
lag=  17 aic:  5.771081163124399
lag=  18 aic:  5.773321292113928
lag=  19 aic:  5.775584515637399
lag=  20 aic:  5.777760215197354

In [53]:
results = model.fit(maxlag=1, ic='aic')

In [55]:
results.k_ar

1